* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;



    form.form{
        width: 15rem;
        border: 2px solid white;
        display: flex;
        flex-direction: column;
        padding: 1rem;
        gap: 2rem;


        #text{
max-width: 100%;
        }
    }

    input,
textarea {
  padding: 10px;   /* placeholder also moves */
}

}